*{
    margin: 0;
    padding: 0;
}

canvas { display: block; }

body {
    background-image: linear-gradient(6deg, #214, #000);
    height: 100%;
    font-family: "Lato", sans-serif;
    color: #fff;
  }
  .container {
      position: absolute;
      top: 50px;
      right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 50%;
    opacity: .90;
  }
  
@media screen and (max-width:450px){
  .container {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    opacity: .80;
  }
}

  .item {
    background: #171717;
    box-shadow: -4px 4px 1px 2px #0a0a0a;
    margin: 30px;
    padding: 30px 10px 10px 10px;
  }
  @media screen and (max-width:450px){
    .item {
      position: relative;
      top: 50px;
      width: 100%;
      height: 100%;
      margin: 0;
      background: #171717;
      box-shadow: -4px 4px 1px 2px #0a0a0a;
    }
  
  }
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  p {
    font-size: 14px;
  }
  
  svg {
    width: 175px;
    margin-bottom: 20px;
  }
  
  .flex-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-form form{
    padding: 0 25px;
  }
  
  input {
    width: 250px;
    padding: 20px 20px 15px 9px;
    display: block;
    flex: 1;
    font-size: 17px;
    color: #fff;
    background: #171717;
    border: none;
    border-bottom: 1px solid #fff;
  }
  
  input:focus {
    outline: none;
  }
  
  button {
    width: 275px;
    height: 55px;
    margin: 50px 0 8px 0;
    font-size: 18px;
    background: #b5360c;
    color: #fff;
    border-radius: 2px;
    border: none;
  }
  
  button:hover {
    border: 2px solid #cd3d0e;
    color: #b5360c;
    background-color: transparent;
    transition: 0.3s;
  }

#myForm1{
    display: none;
}   