
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}
.head > a{
    position: absolute;
    left: 100px;
    top: 20px;
}
.head{
    height: 80px;
    position: relative;
    background-image: linear-gradient(to bottom,skyblue,white);
}
.head .nav{
    display: inline-block;
    position: absolute;
    right: 100px;
}
.head .nav > Ul > li{
    display: inline-block;
    float: left;
}
.head .nav > ul > li > a{
    display: block;
    padding: 0 18px;
    height: 70px;
    line-height: 70px;
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
}
.left{
    float: left;
    margin-top: 200px;
    margin-left: 100px;
}
.left ul{
    list-style: none;
    width: 170px;
}
.left ul li{
    margin-top: 10px;
    cursor: pointer;
    float:left;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    background-color:red;
    border-radius:5px;
    color: white;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    transition: all 0.5s;
}
.left ul li:hover{
    background-color: white;
    color: red;
}
.main{
    float:left;
    margin-left: 100px;
    margin-top: 30px;
}
figcaption{
    text-align: center;
    line-height: 100px;
    font-family: "Microsoft Yahei";
    font-size: 24px;
}

.player{
    width: 720px;
    height: 360px;
    margin: 0px auto;
    border: 1px solid #000;
    background: url(../images/加载.gif) center no-repeat #000;
    background-size: auto 100%;
    position: relative;
    border-radius: 20px;
}
.player video{
    height: 100%;
    display: block;
    margin: 0 auto;
}

.controls{
    width: 700px;
    height: 40px;
    background-color: rgba(255, 255, 0, 0.3);
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
}

.switch{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;

    text-align: center;
    line-height: 20px;
    color: yellow;
}
.progress{
    width: 432px;
    height: 10px;
    position: absolute;
    background-color: rgba(255, 255,255, 0.4);
    left: 40px;
    top: 15px;
    border-radius: 4px;
    overflow: hidden;
}

.curr-progress{
    width: 0%;
    height: 10px;
    background-color:#fff;
    opacity: 0.5;
}
.time{
    width: 120px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    position: absolute;
    left: 510px;
    top: 10px;
    font-size: 12px;
}
.extend{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 10px;
    text-align: center;
    line-height: 20px;
    color: yellow;
}

