*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*html{
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
}*/
body{
    font-family:Tahoma, Geneva, Verdana, "微软雅黑",sans-serif;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png");
}
.clear{
    clear: both;
}

.head{
    height: 80px;
    position: relative;
}
.head > a{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 20px;
    color: black;
    text-decoration: none;
}

/*
.right{
    float: left;
    margin-top: 130px;
    opacity: 0.6;
}
.right > ul > li,.right > ul > li > ul > li{
    list-style: none;
}
.right  span{
    display: block;
    background-color: rgb(26, 25, 25);
    width: 210px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: "宋体";
    border: 1px solid rgb(39, 37, 37);
    cursor: pointer;
}
.right span:hover{
    background-color: rgb(4, 121, 156);
    color: white;
}
.right .current{
    background-color: rgb(4, 100, 156);
    color: rgb(243, 225, 225); 
}
.right span + ul{
    background-color: rgb(108, 209, 240);
}
.right .number{
    display: flex;
    width: 210px;
    flex-wrap: wrap;
    border:1px solid rgb(39, 37, 37);
}
.right .number.hidden{
    display: none;
}
.right .number > li{
    border: 1px solid rgb(88, 175, 209);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px 10px 10px 0 ;
}
.right .number > li:hover{
    background-color: rgb(184, 218, 231);
    cursor: pointer;
}
*/
.main{
    width: 80%;
    margin: 0 auto;
}
/*figcaption{
    text-align: center;
    line-height: 80px;
    font-family: "Microsoft Yahei";
    font-size: 24px;
}*/

.player{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    /*border-top: 1px solid #000;*/
    /*background: url(../images/加载.gif) center no-repeat #000;*/
    /*background-size: auto 100%;*/
    position: relative;
}
.player video{
    width: 100%;
    height: 100%;
    display: block;
}

/*.controls{
    width: 720px;
    height: 40px;
    background-color: black;
    position: absolute;
    border: 1px solid rgb(39, 37, 37);
}

.switch{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    text-align: center;
    line-height: 20px;
    color: yellow;
}
.progress{
    width: 432px;
    height: 10px;
    position: absolute;
    background-color: rgba(255, 255,255, 0.4);
    left: 40px;
    top: 15px;
    border-radius: 4px;
    overflow: hidden;
}

.curr-progress{
    width: 0%;
    height: 10px;
    background-color:#fff;
    opacity: 0.5;
}
.time{
    width: 120px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    position: absolute;
    left: 510px;
    top: 10px;
    font-size: 12px;
}
.extend{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 10px;
    text-align: center;
    line-height: 20px;
    color: yellow;
}*/
