
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}
.top{
    /*border: 1px solid green;*/
    height: 50px;
    position: relative;
}
.top .home{
    font-size: 30px;
    height: 40px;
    /*border: 1px solid red;*/
    line-height: 40px;
    position: absolute;
    top:20px;
    left: 100px;
    color: green;
    transition: color 1s;
}
.top .home:hover{
    animation: doudou 0.5s alternate linear infinite;
    cursor: pointer;
    color: red;
}
@keyframes doudou{
    0%{
        transform: translateX(1px);
    }
    15%{
        transform: translateX(-1px);
    }
    30%{
        transform: translateY(1px);
    }
    45%{
        transform: translateY(-1px);
    }
    60%{
        transform: translateX(-1px);
    }
    75%{
        transform: translateX(1px);
    }
    90%{
        transform: translateX(0px);
    }
}
.left{
    float: left;
    border: 1px solid red;
    margin-top: 200px;
    margin-left: 100px;
}
.left ul{
    list-style: none;
    width: 170px;
}
.left ul li{
    margin-top: 10px;
    cursor: pointer;
    float:left;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    background-color:red;
    border-radius:5px;
    color: white;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    transition: all 0.5s;
}
.left ul li:hover{
    background-color: white;
    color: red;
}
.main{
    float:left;
    margin-left: 100px;
    margin-top: 100px;
    border:1px solid blue;
}
figcaption{
    text-align: center;
    line-height: 100px;
    font-family: "Microsoft Yahei";
    font-size: 24px;
}

.player{
    width: 720px;
    height: 360px;
    margin: 0px auto;
    border: 1px solid #000;
    background: url(../images/加载.gif) center no-repeat #000;
    background-size: auto 100%;
    position: relative;
    border-radius: 20px;
}
.player video{
    height: 100%;
    display: block;
    margin: 0 auto;
}

.controls{
    width: 700px;
    height: 40px;
    background-color: rgba(255, 255, 0, 0.3);
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
}

.switch{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;

    text-align: center;
    line-height: 20px;
    color: yellow;
}
.progress{
    width: 432px;
    height: 10px;
    position: absolute;
    background-color: rgba(255, 255,255, 0.4);
    left: 40px;
    top: 15px;
    border-radius: 4px;
    overflow: hidden;
}

.curr-progress{
    width: 0%;
    height: 10px;
    background-color:#fff;
    opacity: 0.5;
}
.time{
    width: 120px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    position: absolute;
    left: 510px;
    top: 10px;
    font-size: 12px;
}
.extend{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 10px;
    text-align: center;
    line-height: 20px;
    color: yellow;
}

